
@{
    ViewBag.Title = "BlogList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BreadCrumb -->
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xây dựng Đảng</li>
    </ol>
</nav>
<!-- ListBlog -->
<article class="article-medium">
    <div class="row">
        <div class="col-sm-6">
            <div class="frame">
                <a class="image" href="#">
                    <figure class="image-holder">
                        <img src="http://baoquangninh.com.vn/dataimages/201506/original/images805906_DSC_0195.jpg" alt="Xây dựng sổ tay học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh">
                    </figure>
                    <div class="image-light"></div>
                    <span class="dashicons dashicons-format-gallery"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-6">
            <h4><a href="#">Xây dựng sổ tay học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh</a></h4>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-user"></span> Admin</a> &nbsp;
                <a href="#"><span class="fa fa-tag"></span> Chính trị</a> &nbsp;
                <a href="#"><span class="fa fa-eye"></span> 5,352</a>
            </p>
            <p>
                Nhằm sinh động và mang lại hiệu quả hơn trong việc “Đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh”, Đảng ủy Ngân hàng Thương mại cổ phần Đầu tư và Phát triển Việt Nam Chi nhánh Đồng Khởi (BIDV Đồng Khởi) đã lãnh đạo xây dựng và thực hiện mô hình “Sổ tay làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh”.
            </p>
        </div>
    </div>

    <div class="footer">
        <div class="read-more">
            <button class="btn btn-primary btn-sm btn-detail">Xem Thêm</button>
        </div>
    </div>
</article>
<br />
<article class="article-medium">
    <div class="row">
        <div class="col-sm-6">
            <div class="frame">
                <a class="image" href="#">
                    <figure class="image-holder">
                        <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/1/23/cchc-0123101705.jpg" alt="Sở Xây dựng tập trung nâng cao chất lượng phục vụ người dân và doanh nghiệp">
                    </figure>
                    <div class="image-light"></div>
                    <span class="dashicons dashicons-format-gallery"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-6">
            <h4><a href="#">Sở Xây dựng tập trung nâng cao chất lượng phục vụ người dân và doanh nghiệp</a></h4>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-user"></span> Admin</a> &nbsp;
                <a href="#"><span class="fa fa-tag"></span> Chính trị</a> &nbsp;
                <a href="#"><span class="fa fa-eye"></span> 5,352</a>
            </p>
            <p>
                Những năm qua, với quyết tâm đẩy mạnh cải cách hành chính (CCHC), hướng đến mục tiêu vì nhân dân, vì doanh nghiệp (DN) để phục vụ, Sở Xây dựng Bến Tre đã triển khai đồng bộ nhiều biện pháp CCHC, qua đó góp phần thực hiện thắng lợi các mục tiêu...
            </p>
        </div>
    </div>

    <div class="footer">
        <div class="read-more">
            <button class="btn btn-primary btn-sm btn-detail">Xem Thêm</button>
        </div>
    </div>
</article>
<br />
<article class="article-medium">
    <div class="row">
        <div class="col-sm-6">
            <div class="frame">
                <a class="image" href="#">
                    <figure class="image-holder">
                        <img src="http://mt.gov.vn/Images/Album/l131dcca6-c6bd-4cae-91f5-cb71c535d242_7--img-9328.jpg" alt="Tiếp tục thúc đẩy, nâng cao hiệu quả công tác đối ngoại của Đảng">
                    </figure>
                    <div class="image-light"></div>
                    <span class="dashicons dashicons-format-gallery"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-6">
            <h4><a href="#">Tiếp tục thúc đẩy, nâng cao hiệu quả công tác đối ngoại của Đảng</a></h4>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-user"></span> Admin</a> &nbsp;
                <a href="#"><span class="fa fa-tag"></span> Chính trị</a> &nbsp;
                <a href="#"><span class="fa fa-eye"></span> 5,352</a>
            </p>
            <p>
                (ĐCSVN) – Đồng chí Trần Quốc Vượng nhấn mạnh các trọng tâm công tác của đối ngoại Đảng và của Ban Đối ngoại Trung ương năm 2019: Tiếp tục thúc đẩy, đưa các quan hệ đối ngoại của Đảng vào chiều sâu, hiệu quả thực chất, chuẩn bị và tổ chức tốt các hoạt động đối ngoại lớn của lãnh đạo Đảng...
            </p>
        </div>
    </div>

    <div class="footer">
        <div class="read-more">
            <button class="btn btn-primary btn-sm btn-detail">Xem Thêm</button>
        </div>
    </div>
</article>
<br />
<article class="article-medium">
    <div class="row">
        <div class="col-sm-6">
            <div class="frame">
                <a class="image" href="#">
                    <figure class="image-holder">
                        <img src="http://baoquangninh.com.vn/dataimages/201506/original/images805906_DSC_0195.jpg" alt="Hội đồng nhân dân huyện Giồng Trôm khóa XI tổ chức kỳ họp cuối năm 2018">
                    </figure>
                    <div class="image-light"></div>
                    <span class="dashicons dashicons-format-gallery"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-6">
            <h4><a href="#">Hội đồng nhân dân huyện Giồng Trôm khóa XI tổ chức kỳ họp cuối năm 2018</a></h4>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-user"></span> Admin</a> &nbsp;
                <a href="#"><span class="fa fa-tag"></span> Chính trị</a> &nbsp;
                <a href="#"><span class="fa fa-eye"></span> 5,352</a>
            </p>
            <p>
                Ngày 13/12/2018, Hội đồng nhân dân huyện Giồng Trôm khóa XI, nhiệm kỳ 2016 – 2021 tổ chức kỳ họp thứ 9 (kỳ họp cuối năm 2018). Chủ trì kỳ họp có Bí thư Huyện ủy, Chủ tịch Hội đồng nhân dân huyện Võ Văn Phê; Phó Chủ tịch Hội đồng nhân dân huyện Nguyễn Văn Đức và Huỳnh Văn Thương. Đến dự có ông Châu Văn Thơi, Viện trưởng Viện kiểm sát nhân dân tỉnh, đại biểu Hội đồng nhân dân tỉnh đơn vị huyện Giồng Trôm; 35/38 đại biểu Hội đồng nhân dân huyện và lãnh đạo các phòng, ban, đoàn thể huyện.
            </p>
        </div>
    </div>

    <div class="footer">
        <div class="read-more">
            <button class="btn btn-primary btn-sm btn-detail">Xem Thêm</button>
        </div>
    </div>
</article>
<br />
<article class="article-medium">
    <div class="row">
        <div class="col-sm-6">
            <div class="frame">
                <a class="image" href="#">
                    <figure class="image-holder">
                        <img src="http://www.bentre.dcs.vn/Uploads/Originals/2018/12/6/cchc1-1206084447.jpg" alt="Sôi nổi cuộc thi về cải cách hành chính">
                    </figure>
                    <div class="image-light"></div>
                    <span class="dashicons dashicons-format-gallery"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-6">
            <h4><a href="#">Sôi nổi cuộc thi về cải cách hành chính</a></h4>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-user"></span> Admin</a> &nbsp;
                <a href="#"><span class="fa fa-tag"></span> Chính trị</a> &nbsp;
                <a href="#"><span class="fa fa-eye"></span> 5,352</a>
            </p>
            <p>
                Ngày 5-12-2018, cuộc thi “Tìm hiểu về cải cách hành chính và sáng kiến cải cách thủ tục hành chính” do Sở Nội vụ và Công đoàn Viên chức tỉnh tổ chức đã khai mạc và diễn ra sôi nổi tại Trung tâm Hoạt động thanh thiếu nhi tỉnh.
            </p>
        </div>
    </div>

    <div class="footer">
        <div class="read-more">
            <button class="btn btn-primary btn-sm btn-detail">Xem Thêm</button>
        </div>
    </div>
</article>
<br />
<!-- PAGINATION -->
<ul class="pagination">
    <li><a href="#" title="prev"><i class="fa fa-angle-double-left"></i></a></li>
    <li class="divider"></li>
    <li class="active"><a href="#">1</a></li>
    <li><span>2</span></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="divider"></li>
    <li><a href="#" title="next"><i class="fa fa-angle-double-right"></i></a></li>
</ul>