@{
    Layout = null;
}

<div class="widget-2 widget">
    <h3 style="text-align:center;">LIÊN KẾT NHANH</h3>
    <div>
        <ul>
            <li>
                <a href="#" title="Tiêu đề"><img src="#sourceAnh" class="img-responsive" style="width:100%"></a>
            </li>
            <li>
                <a href="#"><img src="http://icon.com.vn/Portals/_Default/Skins/icon-v4/images/logo.png" class="img-responsive" style="width:100%"></a>
            </li>
            <li>
                <a href="#"><img src="http://www.bentre.dcs.vn/Uploads/Thumbs/2017/12/4/qc3-1204182018.jpg" class="img-responsive" style="width:100%"></a>
            </li>
            <li>
                <a href="#"><img src="http://www.bentre.dcs.vn/Uploads/Thumbs/2017/12/4/qc4-1204182133.jpg" class="img-responsive" style="width:100%"></a>
            </li>
            <li>
                <a href="#"><img src="http://www.bentre.dcs.vn/Uploads/Thumbs/2017/12/4/qc5-1204182053.png" class="img-responsive" style="width:100%"></a>
            </li>
            <li>
                <a href="#"><img src="http://tinhuykhanhhoa.vn/portals/0/Images/nhansumoi.jpg" class="img-responsive" style="width:100%"></a>
            </li>
            <li>
                <a href="#"><img src="http://tinhuykhanhhoa.vn/portals/0/37091447_1798193680293920_5021277125093621760_n.jpg" class="img-responsive" style="width:100%"></a>
            </li>
            <li>
                <a href="#"><img src="http://tinhuykhanhhoa.vn/portals/0/Images/tuyengiao.png" class="img-responsive" style="width:100%"></a>
            </li>
        </ul>
    </div>
</div>