@{
    Layout = null;
}

<div class="widget-2 widget">
    <h3 text-align:center">VIDEO</h3>
    <div class="block-content">
        <div class="latest-galleries">
            <div class="gallery-widget" rel="gallery-224">
                <div class="gallery-photo" rel="hover-parent">
                    <a href="#" class="slide-left icon-text">&#59229;</a>
                    <a href="#" class="slide-right icon-text">&#59230;</a>
                    <ul>
                        <li class="active">
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index2679.html?page=1" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-3980694-modern-home-m1-300x190_c.jpg" data-id="1" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index4658.html?page=2" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-3259772-shanghai-urban-street-view-m1-300x190_c.jpg" data-id="2" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index9ba9.html?page=3" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-544969-girl-with-flowers-m1-300x190_c.jpg" data-id="3" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/indexfdb0.html?page=4" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-6145888-mountain-landscape-m1-300x190_c.jpg" data-id="4" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/indexaf4d.html?page=5" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-6137350-beautiful-young-blonde-hipster-woman-listening-music-m1-300x190_c.jpg" data-id="5" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/indexc575.html?page=6" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-5961184-pretty-young-summer-girl-m1-300x190_c.jpg" data-id="6" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index235c.html?page=7" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-5861484-mountains-landscape-m1-300x190_c.jpg" data-id="7" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/indexfdfa.html?page=8" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-5650731-quebec-city-cityscape-m1-300x190_c.jpg" data-id="8" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index0b08.html?page=9" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-5650711-new-york-city-m1-300x190_c.jpg" data-id="9" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index1448.html?page=10" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-5466565-looking-away-to-a-better-future-m1-300x190_c.jpg" data-id="10" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                        <li>
                            <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index1c8b.html?page=11" class="hover-effect" data-id="gallery-224">
                                <img src="~/Asset/wp-content/uploads/2013/11/photodune-5323034-modern-city-night-m1-300x190_c.jpg" data-id="11" title="Suas tractatos cu per mucius fuisset tractatos ut eos" alt="Suas tractatos cu per mucius fuisset tractatos ut eos" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="gallery-content">
                    <h4><a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index.html" class="" data-id="gallery-224">Thủ tướng Nguyễn Xuân Phúc: Bến Tre phải đi đầu trong Đồng khởi khởi nghiệp</a></h4>
                    <span class="meta">
                        <span class="right">7 videos</span>
                        <a href="gallery/suas-tractatos-cu-per-mucius-fuisset-tractatos-ut-eos-7-2/index.html" class="" data-id="gallery-224"><span class="icon-text">&#59212;</span>Xem tất cả</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
