@{
    Layout = null;
}

<div class="widget-2 widget">
    <h3 style="text-align:center;">VĂN BẢN</h3>
    <div class="block-content">
        <div class="article-list">
            <ul>
                <li>
                    <a href="#">Văn bản chỉ đạo điều hành</a>
                </li>
                <li>
                    <a href="#">Văn kiện Đảng bộ tỉnh</a>
                </li>
                <li>
                    <a href="#">Văn kiện-Tư liệu</a>
                </li>
                <li>
                    <a href="#">Văn bản trung ương</a>
                </li>
            </ul>
        </div>
    </div>
</div>