@{
    Layout = null;
}


<div class="block">
    <div class="block-title">
        <a href="đường dẫn danh mục" class="right">Xem Tất Cả</a>
        <h2>Tiêu đề</h2>
    </div>
    <div class="block-content">
        <div class="paragraph-row">
            <!-- BEGIN .column6 -->
            <div class="column8">
                <a href="#">
                    <div class="wide-article">
                        <div class="article-photo">
                            <a href="#" class="hover-effect delegate">
                                <span class="cover" style="font-size:20px;"><i></i><img class="image-border" src="~/Asset/wp-content/uploads/2013/11/photodune-2969436-mobile-phone-m-160x117_c.jpg" alt="Dix eu discere appellantur noluisse esse petentium"></span>
                            </a>
                        </div>
                        <div class="article-content">
                            <h3>
                                <a href="dix-eu-discere-appellantur-noluisse-esse-petentium-splendide-9-2/index.html">Tổ chức tập huấn sử dụng chứng thư số chuyên dùng cho các cơ quan Đảng tỉnh Bến Tre</a>
                                <span class="meta">
                                    <span class="tag" title="Last Update: 16:50, 21.Jan 2014">Tin mới</span>
                                </span>
                            </h3>
                            <span class="meta-date">
                                Thứ hai, 01/10/2018 | 07:18:59
                            </span>
                        </div>
                        <p>Sáng ngày 11/10/2018, Văn phòng Tỉnh ủy bắt đầu tổ chức các lớp tập huấn, quản lý sử dụng chữ ký số trong giao dịch điện tử chuyên dùng cho các tổ chức và cá nhân trong cơ quan Đảng trên địa bàn tỉnh. Dự kiến, chương trình tập huấn kéo dài từ ngày 11/10 đến 18/10/2018 và chia thành 11 lớp với...</p>
                    </div>
                </a>
                <!-- END .column6 -->
            </div>
            <!-- BEGIN .column6 -->
            <div class="column4">
                <div class="article-list">
                    <ul>
                        <li>
                            <div><a href="#">Thực tập phương án chữa cháy và cứu nạn, cứu hộ tại Trạm biến áp 110kv Giồng Trôm</a></div>
                            <span class="meta-date">
                                Thứ hai, 01/10/2018 | 07:18:59
                            </span>
                        </li>
                        <li>
                            <div><a href="#">Thực tập phương án chữa cháy và cứu nạn, cứu hộ tại Trạm biến áp 110kv Giồng Trôm</a></div>
                            <span class="meta-date">
                                Thứ hai, 01/10/2018 | 07:18:59
                            </span>
                        </li>
                        <li>
                            <div><a href="#">Thực tập phương án chữa cháy và cứu nạn, cứu hộ tại Trạm biến áp 110kv Giồng Trôm</a></div>
                            <span class="meta-date">
                                Thứ hai, 01/10/2018 | 07:18:59
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- END .column6 -->
            </div>
        </div>
    </div>
</div>