@{
    Layout = null;
}

<div class="widget-3 widget">
    <div class="block-content">
        <div class="featured-block">
            <!--Ảnh-->
            <div class="article-photo">
                <a href="debitis-minimum-vituperata-mei-no-adipiscing-vituperata-6-2/index.html" class="hover-effect delegate">
                    <span class="cover" style="font-size:41.666666666666664px;">
                        <i></i>
                        <div class="img-block">
                            <img class="owl-lazy img-responsive" style="width:100%; height:10%" src="http://media.kinhtedothi.vn/568/2018/8/24/NTHON.jpg" alt="Debitis minimum vituperata mei no adipiscing vituperata accusata indoctum">
                        </div>
                    </span>
                </a>
            </div>
        </div>
        <!--Nội dung-->
        <br />
        <a href="#">
            <h1>
                Thới Thuận đạt chuẩn nông thôn mới
            </h1>
        </a>
        <p>Ngày 14-10-2018, UBND huyện Bình Đại long trọng tổ chức lễ công bố xã Thới Thuận đạt chuẩn nông thôn mới (NTM). Đến dự có Phó bí thư Tỉnh ủy Trần Ngọc Tam, Chủ tịch UBND tỉnh Cao Văn Trọng, Chủ tịch Ủy ban MTTQ Việt Nam tỉnh Trần Dương Tuấn,...</p>
        <a href="#">
            <span class="glyphicon glyphicon-eye-open"></span> Xem tất cả
        </a>
    </div>
</div>
