<!-- CAROUSEL  -->
<section class="widget no-mobile margin-10">
    <div class="frame thick">
        <div id="carousel-medium" class="carousel caption-slide slide carousel-medium" data-ride="carousel">
            <!-- Carousel contents -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="item-inner">
                        <div data-src="http://www.bentre.dcs.vn/Uploads/Originals/2019/2/25/pho-bt-tttu-phat-bieu-chi-dao-hn-tong-ket-qd-221-0225091546.JPG" data-alt="Thường trực Tỉnh ủy dự họp mặt văn nghệ sỹ và báo chí đầu Xuân Kỷ Hợi - năm 2019"></div>
                        <div class="carousel-caption">
                            <div><a href="/Demo/BlogDetail"><h3>Hội nghị tổng kết 10 năm thực hiện Quyết định 221-QĐ/TW</h3></a></div>
                            <div class="hidden-xs">
                                <p>
                                    Chiều ngày 21/02/2019, Ban Thường vụ Tỉnh ủy tổ chức Hội nghị tổng kết 10 năm thực hiện Quyết định số 221-QĐ/TW, ngày 27/4/2009 của Ban Bí thư khóa X 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="item-inner">
                        <div data-src="http://www.bentre.dcs.vn/Uploads/Originals/2018/12/7/vothanhhao-1207142418.jpg" data-alt="Khai mạc Kỳ họp HĐND tỉnh lần thứ 9, khóa IX, nhiệm kỳ 2016 - 2021"></div>
                        <div class="carousel-caption">
                            <div><a href="/Demo/BlogDetail"><h3>Bí thư Tỉnh ủy thăm, chúc tết các tổ chức Hội quần chúng tỉnh</h3></a></div>
                            <div class="hidden-xs">
                                <p>
                                    Khai mạc Kỳ họp HĐND tỉnh lần thứ 9, khóa IX, nhiệm kỳ 2016 - 2021
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Carousel Controls -->
            <a class="left carousel-control" href="#carousel-medium" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-medium" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        </div>
    </div>
</section>

<!-- ARTICLES V1 WIDGET -->
<section class="widget articles-v1">
    <header class="clearfix">
        <h4>
            XÂY DỰNG ĐẢNG
            <a href="/Demo/BlogList" class="control"><i class="fa fa-plus"></i></a>
        </h4>
    </header>
    <div class="article-medium tab-pane">
        <div class="article-medium tab-pane">
            <div class="row">
                <div class="col-sm-6">
                    <div class="frame">
                        <a class="image" href="#">
                            <figure class="image-holder">
                                <img src="http://dangcongsan.vn/DATA/0/2019/01/bac_vuong_3-11_56_58_260.jpg" alt="Cuộc thi viết “Tìm hiểu Lịch sử Đảng bộ tỉnh Bến Tre (1930 - 2015) và phong trào Đồng khởi năm 1960”">
                            </figure>

                            <span class="dashicons dashicons-format-gallery"></span>
                        </a>
                    </div>
                    <img src="~/Content/img/shadow.png" class="shadow" alt="shadow">
                </div>

                <div class="col-sm-6">
                    <h4><a href="/Demo/BlogDetail">Cuộc thi viết “Tìm hiểu Lịch sử Đảng bộ tỉnh Bến Tre (1930 - 2015) và phong trào Đồng khởi năm 1960”</a></h4>
                    <p class="post-meta">
                        <a href="/Demo/BlogDetail"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                        <a href="/Demo/BlogDetail"><span class="fa fa-folder"></span> Văn hóa - Xã hội</a> &nbsp;
                        <a href="/Demo/BlogDetail"><span class="fa fa-comments"></span> 5</a> &nbsp;
                        <a href="/Demo/BlogDetail"><span class="fa fa-eye"></span> 589</a>
                    </p>
                    <p>Thực hiện Chỉ thị số 20-CT/TW của Ban Bí thư và Kế hoạch số 90-KH/TU của Ban Thường vụ Tỉnh ủy về tổ chức các hoạt động kỷ niệm một số ngày lễ lớn năm tròn (2018 - 2020), Ban Tuyên giáo Tỉnh ủy đã ban hành Kế hoạch (số 140-KH/BTGTU, ngày 15/11/2018) tổ chức Cuộc thi viết “Tìm hiểu Lịch sử Đảng bộ tỉnh Bến Tre (1930 - 2015) và phong trào Đồng khởi năm 1960”.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="article-medium tab-pane">
        <div class="row">
            <div class="col-sm-6">
                <div class="frame">
                    <a class="image" href="/Demo/BlogDetail">
                        <figure class="image-holder">
                            <img src="http://dangcongsan.vn/DATA/0/2019/01/vna_potal_hoi_nghi_can_bo_chinh_tri_toan_quan_trien_khai_nhiem_vu_cong_tac_dang_cong_tac_chinh_tri_nam_2019_stand__2_-14_53_46_822.jpg" alt="Toàn quân tiếp tục thực hiện tốt các khâu đột phá">
                        </figure>

                        <span class="dashicons dashicons-format-chat"></span>
                    </a>
                </div>
                <img src="~/Content/img/shadow.png" class="shadow" alt="shadow">
            </div>

            <div class="col-sm-6">
                <h4><a href="/Demo/BlogDetail">Toàn quân tiếp tục thực hiện tốt các khâu đột phá</a></h4>
                <p class="post-meta">
                    <a href="/Demo/BlogDetail"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                    <a href="/Demo/BlogDetail"><span class="fa fa-folder"></span> Chính trị</a> &nbsp;
                    <a href="/Demo/BlogDetail"><span class="fa fa-comments"></span> 5</a> &nbsp;
                    <a href="/Demo/BlogDetail"><span class="fa fa-eye"></span> 359</a>
                </p>
                <p>Thượng tướng Lương Cường nhấn mạnh: Toàn quân phải nắm chắc tình hình, tập trung mọi nỗ lực xây dựng Quân đội vững mạnh; trong đó, hoạt động quân đội tiếp tục thực hiện tốt các khâu đột phá như: Tổ chức lực lượng, sẵn sàng chiến đấu...</p>
            </div>
        </div>
    </div>
</section>

<!-- ADS -->
<section class="widget">
    <div class="frame thick">
        <a>
            <img src="http://www.bentre.dcs.vn/Uploads/Originals/2017/12/2/bannner-1202115315.jpg" alt="ads">
        </a>
    </div>
</section>

<!-- ARTICLES V2 WIDGET -->
<section class="widget">
    <header class="clearfix">
        <h4>
            KINH TẾ
            <a href="/Demo/BlogList" class="control"><i class="fa fa-plus"></i></a>
        </h4>
    </header>

    <div class="content tab-pane">
        <div class="col-sm-6 article-medium">
            <div class="frame">
                <a class="image" href="/Demo/BlogDetail">
                    <figure class="image-holder">
                        <img src="~/Content/img/content/ulm-58271-medium.jpg" alt="Hiệu quả từ quỹ hỗ trợ phụ nữ phát triển kinh tế tại huyện Giồng Trôm">
                    </figure>

                    <span class="dashicons dashicons-format-quote"></span>
                </a>
            </div>

            <h4><a href="#">Hiệu quả từ quỹ hỗ trợ phụ nữ phát triển kinh tế tại huyện Giồng Trôm</a></h4>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
            </p>

            <p>
                Toàn huyện Giồng Trôm hiện có 4.012 hộ nghèo (tỷ lệ 7,92%), 2.078 hộ cận nghèo (tỷ lệ 4,01%), trong đó hộ nghèo do phụ nữ làm chủ chiếm hơn 35% tổng số của huyện. So với năm 2017, tỷ lệ hộ nghèo giảm 2,7%. Chung tay với công tác giảm nghèo của huyện, năm qua các cấp Hội Phụ nữ huyện Giồng Trôm đã ch...
            </p>
            <hr>
        </div>

        <div class="col-sm-6 article-tiny">
            <a href="/Demo/BlogDetail" class="image">
                <figure class="image-holder">
                    <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/2/26/1fggsg-0226073422.jpg" alt="Hội nghị tổng kết công tác củng cố, xây dựng và phát triển hợp tác xã">
                </figure>

                <span class="dashicons dashicons-format-link"></span>
            </a>

            <h5><a href="/Demo/BlogDetail">Hội nghị tổng kết công tác củng cố, xây dựng và phát triển hợp tác xã</a></h5>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
            </p>
            <hr>
        </div>

        <div class="col-sm-6 article-tiny">
            <a href="/Demo/BlogDetail" class="image">
                <figure class="image-holder">
                    <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/2/21/nongdantyphu-0221143504.jpg" alt="Họp mặt Câu lạc bộ Nông dân tỷ phú lần thứ 3">
                </figure>

                <span class="dashicons dashicons-format-aside"></span>
            </a>

            <h5><a href="/Demo/BlogDetail">Họp mặt Câu lạc bộ Nông dân tỷ phú lần thứ 3</a></h5>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
            </p>
            <hr>
        </div>

        <div class="col-sm-6 article-tiny">
            <a href="/Demo/BlogDetail" class="image">
                <figure class="image-holder">
                    <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/2/18/01120190215081909465471-0218070846.jpg" alt="Châu Hòa bứt phá để xây dựng thành công xã nông thôn mới">
                </figure>

                <span class="dashicons dashicons-format-audio"></span>
            </a>

            <h5><a href="/Demo/BlogDetail">Châu Hòa bứt phá để xây dựng thành công xã nông thôn mới </a></h5>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
            </p>
            <hr>
        </div>
    </div><!--.content-->
</section><!--.widget-->

<div class="content-row">
    <!-- ARTICLES V3 WIDGET -->
    <section class="widget articles-v3 col-sm-6">
        <header class="clearfix">
            <h4>
                VĂN HÓA - XÃ HỘI
                <a href="/Demo/BlogList" class="control"><i class="fa fa-plus"></i></a>
            </h4>
        </header>

        <div class="article-medium tab-pane">
            <div class="frame">
                <a class="image" href="/Demo/BlogDetail">
                    <figure class="image-holder">
                        <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/1/14/ongcaothanhhieuchutichubndthanhphophatbieuchidaohoinghi20190114073213884880-0114132032.JPG" alt="Huyện Giồng Trôm lễ giao nhận quân năm 2019">
                    </figure>

                    <span class="dashicons dashicons-format-gallery"></span>
                </a>
            </div>

            <h4><a href="/Demo/BlogDetail">Huyện Giồng Trôm lễ giao nhận quân năm 2019</a></h4>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
            </p>

            <p>
                Sáng ngày 20-2-2019, Ủy ban nhân dân huyện, Ban Chỉ huy Quân sự huyện và Hội đồng nghĩa vụ quân sự huyện Giồng Trôm đã tổ chức lễ giao nhận quân năm 2019. ...
            </p>
            <hr>
            <div class="article-tiny">
                <a href="/Demo/BlogDetail" class="image">
                    <figure class="image-holder">
                        <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/2/21/cacdaibieuthamdulegiaonhanquannam2019cuatpbentre120190221024926587580-0221153005.JPG" alt="Mỹ Thạnh tổ chức lễ trao quân trang cho công dân nhập ngũ năm 2019">
                    </figure>

                    <span class="dashicons dashicons-format-image"></span>
                </a>

                <h5><a href="/Demo/BlogDetail">Mỹ Thạnh tổ chức lễ trao quân trang cho công dân nhập ngũ năm 2019</a></h5>
                <p class="post-meta">
                    <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                    <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
                </p>
                <hr>
            </div>

            <div class="article-tiny">
                <a href="/Demo/BlogDetail" class="image">
                    <figure class="image-holder">
                        <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/2/14/1jkhjhkh-0214093837.jpg" alt="Nâng chất sinh hoạt tổ nhân dân tự quản">
                    </figure>

                    <span class="dashicons dashicons-format-links"></span>
                </a>

                <h5><a href="/Demo/BlogDetail">Hướng tới Đại hội MTTQ Việt Nam các cấp nhiệm kỳ 2019-2024</a></h5>
                <p class="post-meta">
                    <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                    <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
                </p>
                <hr>
            </div>

            <div class="article-tiny">
                <a href="/Demo/BlogDetail" class="image">
                    <figure class="image-holder">
                        <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/2/18/bentre-0218102354.jpg" alt="Thành phố Trà Vinh: phê duyệt đề án sáp nhập địa giới hành chính">
                    </figure>

                    <span class="dashicons dashicons-format-quote"></span>
                </a>

                <h5><a href="/Demo/BlogDetail">Thành phố Trà Vinh: phê duyệt đề án sáp nhập địa giới hành chính</a></h5>
                <p class="post-meta">
                    <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                    <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
                </p>
                <hr>
            </div>
        </div>


    </section><!--.widget-->
    <!-- ARTICLES V3 WIDGET -->
    <section class="widget articles-v3 col-sm-6">
        <header class="clearfix">
            <h4>
                GIẢI TRÍ
                <a href="/Demo/BlogList" class="control"><i class="fa fa-plus"></i></a>
            </h4>

        </header>

        <div class="article-medium tab-pane">
            <div class="frame">
                <a class="image" href="/Demo/BlogDetail">
                    <figure class="image-holder">
                        <img src="https://thegioitranhsondau.com/upload/images/con-duong-lang-1.jpg" alt="Huyện Giồng Trôm lễ giao nhận quân năm 2019">
                    </figure>

                    <span class="dashicons dashicons-format-standard"></span>
                </a>
            </div>
            <img src="~/Content/img/shadow.png" class="shadow" alt="shadow">

            <h4><a href="/Demo/BlogDetail">Huyện Giồng Trôm lễ giao nhận quân năm 2019</a></h4>
            <p class="post-meta">
                <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
            </p>

            <p>Sáng ngày 20-2-2019, Ủy ban nhân dân huyện, Ban Chỉ huy Quân sự huyện và Hội đồng nghĩa vụ quân sự huyện Giồng Trôm đã tổ chức lễ giao nhận quân năm 2019. ...</p>
            <hr>
            <div class="article-tiny">
                <a href="/Demo/BlogDetail" class="image">
                    <figure class="image-holder">
                        <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/1/25/levanhongnguoicaluontantuyvoicongviec20190125013502984980-0125142736.JPG" alt="Đại úy Lê Văn Hồng - Người chiến sỹ công an nhân dân tận tụy với công việc">
                    </figure>

                    <span class="dashicons dashicons-format-status"></span>
                </a>

                <h5><a href="/Demo/BlogDetail">Đại úy Lê Văn Hồng - Người chiến sỹ công an nhân dân tận tụy với công việc</a></h5>
                <p class="post-meta">
                    <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                    <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
                </p>
                <hr>
            </div>

            <div class="article-tiny">
                <a href="/Demo/BlogDetail" class="image">
                    <figure class="image-holder">
                        <img src="http://www.bentre.dcs.vn/Uploads/Originals/2019/2/26/traokyniemchuong20190225102411685693-0226072805.JPG" alt="Tập trung làm tốt công tác tư tưởng trong kiện toàn, sắp xếp bộ máy">
                    </figure>

                    <span class="dashicons dashicons-format-video"></span>
                </a>

                <h5><a href="/Demo/BlogDetail">Tập trung làm tốt công tác tư tưởng trong kiện toàn, sắp xếp bộ máy</a></h5>
                <p class="post-meta">
                    <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                    <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
                </p>
                <hr>
            </div>

            <div class="article-tiny">
                <a href="/Demo/BlogDetail" class="image">
                    <figure class="image-holder">
                        <img src="~/Content/img/content/day-of-the-dead-204539-tiny.jpg" alt="Thành phố Trà Vinh: phê duyệt đề án sáp nhập địa giới hành chính">
                    </figure>

                    <span class="dashicons dashicons-format-aside"></span>
                </a>

                <h5><a href="/Demo/BlogDetail">Thành phố Trà Vinh: phê duyệt đề án sáp nhập địa giới hành chính</a></h5>
                <p class="post-meta">
                    <a href="#"><span class="fa fa-clock-o"></span> 28/02/2019</a> &nbsp;
                    <a href="#"><span class="fa fa-comments"></span> 54 bình luận</a> &nbsp;
                </p>
                <hr>
            </div>
        </div>
    </section><!--.widget-->
</div>