
@{
    ViewBag.Title = "Mẫu Trang Con";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block main right">
    <div class="block">
        <div class="block-title">
            <a href="/" class="right">Về trang chủ</a>
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="block-content">

            <div class="article-big post-167 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-europe category-travel tag-delectus-pericula-id-sea tag-duo-illum tag-veritus-ullamcorper">
                <div class="article-photo">
                    <a href="#" class="hover-effect delegate">
                        <span class="cover" style="font-size:23.333333333333332px;"><i></i><img class="image-border" src="~/Asset/wp-content/uploads/2013/11/photodune-5323034-modern-city-night-m-210x140_c.jpg" alt="Debitis minimum vituperata no adipiscing"></span>
                    </a>
                </div>

                <div class="article-content">
                    <h2>
                        <a href="#">Debitis minimum vituperata no adipiscing</a>
                        <span class="meta">
                        </span>
                    </h2>
                    <span class="meta">
                    </span>
                    <p>Lorem ipsum dolor sit amet, nec eu minim malorum insolens, quando accusata indoctum vix in. Fugit ridens facilisi his ad. Vix eu discere appellantur. Nam quis alia noluisse ex, per no esse petentium splendide. Posse semper gubergren an eum, odio</p>
                    <span class="meta">
                        <a href="#" class="more">Xem Chi Tiết<span class="icon-text">▸</span></a>
                    </span>
                </div>
            </div>
            <div class="article-big post-133 post type-post status-publish format-standard has-post-thumbnail hentry category-middle-east category-travel category-world tag-duo-illum tag-mea-fugit-appareat tag-molestiae">
                <div class="article-photo">
                    <a href="#" class="hover-effect delegate">
                        <span class="cover" style="font-size:23.333333333333332px;"><i></i><img class="image-border" src="~/Asset/wp-content/uploads/2013/11/photodune-6145888-mountain-landscape-m-210x140_c.jpg" alt="Debitis minimum vituperata mei no adipiscing vituperata"></span>
                    </a>
                </div>

                <div class="article-content">
                    <h2>
                        <a href="#">Debitis minimum vituperata mei no adipiscing vituperata</a>
                        <span class="meta">
                        </span>
                    </h2>
                    <span class="meta">
                    </span>
                    <p>Lorem ipsum dolor sit amet, nec eu minim malorum insolens, quando accusata indoctum vix in. Fugit ridens facilisi his ad. Vix eu discere appellantur. Nam quis alia noluisse ex, per no esse petentium splendide. Posse semper gubergren an eum, odio</p>
                    <span class="meta">
                        <a href="#" class="more">Xem Chi Tiết<span class="icon-text">▸</span></a>
                    </span>
                </div>
            </div>
            <div class="article-big post-124 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment category-middle-east category-travel tag-delectus-pericula-id-sea tag-duo-illum tag-veritus-ullamcorper">
                <div class="article-photo">
                    <a href="#" class="hover-effect delegate">
                        <span class="cover" style="font-size:23.333333333333332px;"><i></i><img class="image-border" src="~/Asset/wp-content/uploads/2013/11/photodune-5861484-mountains-landscape-m-210x140_c.jpg" alt="Debitis minimum vituperata no adipiscing"></span>
                    </a>
                </div>

                <div class="article-content">
                    <h2>
                        <a href="#">Debitis minimum vituperata no adipiscing</a>
                        <span class="meta">
                        </span>
                    </h2>
                    <span class="meta">
                    </span>
                    <p>Lorem ipsum dolor sit amet, nec eu minim malorum insolens, quando accusata indoctum vix in. Fugit ridens facilisi his ad. Vix eu discere appellantur. Nam quis alia noluisse ex, per no esse petentium splendide. Posse semper gubergren an eum, odio</p>
                    <span class="meta">
                        <a href="#" class="more">Xem Chi Tiết<span class="icon-text">▸</span></a>
                    </span>
                </div>
            </div>
            <div class="article-big post-91 post type-post status-publish format-standard has-post-thumbnail hentry category-europe category-travel category-u-s tag-delectus-pericula-id-sea tag-duo-illum tag-mea-fugit-appareat tag-molestiae tag-veritus-ullamcorper">
                <div class="article-photo">
                    <a href="#" class="hover-effect delegate">
                        <span class="cover" style="font-size:23.333333333333332px;"><i></i><img class="image-border" src="~/Asset/wp-content/uploads/2013/11/photodune-5961184-pretty-young-summer-girl-m-210x140_c.jpg" alt="Dix eu discere appellantur noluisse"></span>
                    </a>
                </div>

                <div class="article-content">
                    <h2>
                        <a href="#">Dix eu discere appellantur noluisse</a>
                        <span class="meta">
                        </span>
                    </h2>
                    <span class="meta">
                    </span>
                    <p>Lorem ipsum dolor sit amet, nec eu minim malorum insolens, quando accusata indoctum vix in. Fugit ridens facilisi his ad. Vix eu discere appellantur. Nam quis alia noluisse ex, per no esse petentium splendide. Posse semper gubergren an eum, odio</p>
                    <span class="meta">
                        <a href="#" class="more">Xem Chi Tiết<span class="icon-text">▸</span></a>
                    </span>
                </div>
            </div>
            <div class="article-big post-88 post type-post status-publish format-standard has-post-thumbnail hentry category-europe category-travel category-world tag-delectus-pericula-id-sea tag-duo-illum tag-veritus-ullamcorper">
                <div class="article-photo">
                    <a href="../../debitis-minimum-vituperata-no-adipiscing-4/index.html" class="hover-effect delegate">
                        <span class="cover" style="font-size:23.333333333333332px;"><i></i><img class="image-border" src="~/Asset/wp-content/uploads/2013/11/photodune-5861484-mountains-landscape-m-210x140_c.jpg" alt="Debitis minimum vituperata no adipiscing"></span>
                    </a>
                </div>

                <div class="article-content">
                    <h2>
                        <a href="../../debitis-minimum-vituperata-no-adipiscing-4/index.html">Debitis minimum vituperata no adipiscing</a>
                        <span class="meta">
                        </span>
                    </h2>
                    <span class="meta">
                    </span>
                    <p>Lorem ipsum dolor sit amet, nec eu minim malorum insolens, quando accusata indoctum vix in. Fugit ridens facilisi his ad. Vix eu discere appellantur. Nam quis alia noluisse ex, per no esse petentium splendide. Posse semper gubergren an eum, odio</p>
                    <span class="meta">
                        <a href="../../debitis-minimum-vituperata-no-adipiscing-4/index.html" class="more">Xem Chi Tiết<span class="icon-text">▸</span></a>
                    </span>
                </div>
            </div>
            <div class="article-big post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment category-travel tag-delectus-pericula-id-sea tag-duo-illum tag-mea-fugit-appareat tag-molestiae tag-veritus-ullamcorper">
                <div class="article-photo">
                    <a href="#" class="hover-effect delegate">
                        <span class="cover" style="font-size:23.333333333333332px;"><i></i><img class="image-border" src="~/Asset/wp-content/uploads/2013/11/photodune-5466565-looking-away-to-a-better-future-m-210x140_c.jpg" alt="Dix eu discere appellantur noluisse esse petentium splendide"></span>
                    </a>
                </div>

                <div class="article-content">
                    <h2>
                        <a href="#">Dix eu discere appellantur noluisse esse petentium splendide</a>
                        <span class="meta">
                        </span>
                    </h2>
                    <span class="meta">
                    </span>
                    <p>Lorem ipsum dolor sit amet, nec eu minim malorum insolens, quando accusata indoctum vix in. Fugit ridens facilisi his ad. Vix eu discere appellantur. Nam quis alia noluisse ex, per no esse petentium splendide. Posse semper gubergren an eum, odio</p>
                    <span class="meta">
                        <a href="#" class="more">Xem Chi Tiết<span class="icon-text">▸</span></a>
                    </span>
                </div>
            </div>
            <div class="article-big post-49 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-travel tag-duo-illum tag-mea-fugit-appareat tag-molestiae">
                <div class="article-photo">
                    <a href="#" class="hover-effect delegate">
                        <span class="cover" style="font-size:23.333333333333332px;"><i></i><img class="image-border" src="~/Asset/wp-content/uploads/2013/11/photodune-5650731-quebec-city-cityscape-m-210x140_c.jpg" alt="Debitis minimum vituperata mei no adipiscing vituperata"></span>
                    </a>
                </div>

                <div class="article-content">
                    <h2>
                        <a href="#">Debitis minimum vituperata mei no adipiscing vituperata</a>
                        <span class="meta">
                        </span>
                    </h2>
                    <span class="meta">
                    </span>
                    <p>Lorem ipsum dolor sit amet, nec eu minim malorum insolens, quando accusata indoctum vix in. Fugit ridens facilisi his ad. Vix eu discere appellantur. Nam quis alia noluisse ex, per no esse petentium splendide. Posse semper gubergren an eum, odio</p>
                    <span class="meta">
                        <a href="#" class="more">Xem Chi Tiết<span class="icon-text">▸</span></a>
                    </span>
                </div>
            </div>								<div class="pagination">
                <span class="page-numbers current">1</span>
                <a class="page-numbers" href="page/2/index.html">2</a>
                <a class="next page-numbers" href="page/2/index.html">Next Page<span class="icon-text right">▸</span></a>
            </div>
        </div>


    </div>
    <!-- END .content-block -->
</div>

