
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-block main right">
    <div class="block">
        <div class="block-content post-163 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment category-middle-east tag-duo-illum tag-mea-fugit-appareat tag-molestiae">
            <div class="article-title">
                <h1>Debitis minimum vituperata mei no adipiscing vituperata</h1>
                <div class="author">
                    <span class="hover-effect left delegate">
                        <span class="cover" style="font-size:20px;"><i></i><img src="http://0.gravatar.com/avatar/cb821c0a9f93a6dc312d0b8dfe665220?s=96&amp;d=mm&amp;r=g" alt="Orange Themes"></span>
                    </span>
                    <div class="a-content">
                        <span>By <b>Orange Themes</b></span>
                        <span class="meta">
                            November 21, 2013 10:30
                        </span>
                    </div>
                </div>
            </div>
            <p>
                <span class="hover-effect delegate">
                    <span class="cover" style="font-size:44.166666666666664px;"><i></i><img class="image-border" src="https://image2.tin247.com/pictures/2014/12/25/tqx1419483075.jpg" alt="Debitis minimum vituperata mei no adipiscing vituperata"></span>
                </span>
            </p>
            <div class="shortcode-content">
                <div class="paragraph-row">
                    <div class="column12">
                        <p>hihihi</p>
                    </div>
                </div>

                <div class="article-title">
                    <div class="author">
                        <span class="hover-effect left delegate">
                            <span class="cover" style="font-size:20px;"><i></i><img src="http://0.gravatar.com/avatar/cb821c0a9f93a6dc312d0b8dfe665220?s=96&amp;d=mm&amp;r=g" alt="Orange Themes"></span>
                        </span>
                        <div class="a-content">
                            <span>By <b>Orange Themes</b></span>
                            <span class="meta">
                                November 21, 2013 10:30
                            </span>
                        </div>
                    </div>
                    <div class="article-tags tag-cloud">
                        <strong>TAGS:</strong>
                        <a href="../tag/duo-illum/index.html">Duo illum</a><a href="../tag/mea-fugit-appareat/index.html">Mea fugit appareat</a><a href="../tag/molestiae/index.html">Molestiae</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END .content-block -->
</div>

