
element.style {
}
.home-slider.owl-carousel .img {
    height: 300px;
    overflow: hidden;
}

*, ::before, ::after {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
a {
    color: rgb(0, 123, 255);
    text-decoration: none;
    background-color: transparent;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.owl-carousel.owl-drag .owl-item {
    user-select: none;
}
.owl-carousel .owl-item {
    cursor: pointer;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
body {
    font-size: 14px;
    color: rgb(56, 56, 56);
}
body {
    margin: 0px;
    font-weight: normal;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::before, ::after {
    box-sizing: inherit;
}
*, ::before, ::after {
    box-sizing: inherit;
}